.side-bar{
  display: flex;
  flex-direction: column;
  position: fixed;
  top:55px;
  bottom:0;
  left: 0;
  width: 72px;
  padding-top:10px;
  z-index: 50000;
  background-color: white;

}
.side-bar-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  align-items: center;
  margin-bottom: 8px;
  transition: 1s;
  cursor: pointer;
}
.side-bar-items:hover{
  background-color: rgb(214, 214, 214);
}
.side-bar-items img{
height: 25px;
}
.side-bar-text{
  font-family: roboto,arial;
  font-size: 10px;
  margin-top: 5px;
}